@charset "UTF-8";
/*Variables*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  color: blue;
  background-color: #F2F2F2; }

.headerPagina {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-end;
  align-content: center;
  color: blue;
  margin: 0.2em;
  padding: 0.5em; }
  .headerPagina .tituloHeader {
    font-size: 3rem; }
  .headerPagina .postTitulo {
    display: inline;
    margin: 0.5em;
    font-size: 1rem; }

.navegadorPagina {
  margin: 0.5em;
  padding: 0.3em; }
  .navegadorPagina ul {
    height: 5vh;
    border-style: solid;
    border-color: blue;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .navegadorPagina ul .navegadortexto {
      font-size: 1rem; }

.inicioPagina {
  margin: 0.2em; }

.nosotrosPrincipal .tituloNosotrosPrincipal {
  font-size: 3rem;
  text-align: center; }

.nosotrosPrincipal .textoNosotrosPrincipal {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  margin: auto; }

.paginaPrecios .tituloPaginaPrecios {
  font-size: 2rem;
  text-align: center;
  margin: 1em; }

.paginaPrecios .cardsPrecios {
  height: 70%; }

.imagenesPagina .imagenPaginaImagenes1:hover {
  justify-items: center;
  width: 80%; }

.imagenesPagina .imagenPaginaImagenes2:hover {
  justify-items: center;
  width: 80%; }

.imagenesPagina .imagenPaginaImagenes3:hover {
  justify-items: center;
  width: 80%; }

@media (min-width: 0px) and (max-width: 516px) {
  /* pantalla pequeña*/
  .headerPagina .tituloHeader {
    font-size: 2rem; }
  .headerPagina .contactoHeader {
    display: flex; }
    .headerPagina .contactoHeader .postTitulo {
      font-size: .75rem; }
  .inicioPagina .nosotrosPrincipal .tituloNosotrosPrincipal {
    font-size: 1.5rem; }
  .inicioPagina .nosotrosPrincipal .textoNosotrosPrincipal {
    font-size: 1rem; }
  .inicioPagina .paginaPrecios .tituloPaginaPrecios {
    font-size: 1rem; } }

@media (min-width: 517px) and (max-width: 980px) {
  /*Dispositivo LARGE*/ }

@media (min-width: 981px) and (max-width: 10000px) {
  /*Dispositivo Extra large*/ }
